.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeblock {
    display: flex;
    height: 100px;
    width: 1000px;
    margin: 1px 1px;
}

.timeblock .time {
    background-color: #fff;
    border-top: 3px solid #7c7c7c;
    padding: 5px 5px 0 0;
    text-align: end;
    height: 100%;
    width: 10%;
}

.timeblock .text-box {
    background-color: #616161;
    height: 100%;
    width: 80%;
}

.timeblock .icon-box {
    background-color: #3db8d6;
    border-radius: 0 25% 25px 0;
    height: 100%;
    width: 10%;
}